
<div class="container">
<div class="jumbotron jumbotron-fluid">
    <div class="container">

      <h1 class="display-4">Future Considerations</h1>
      <p class="lead">I will update the app when I have time in the near future!</p>
      <ul> 
        <li>In order to improve search query time, add a <a href = "https://python.langchain.com/docs/modules/data_connection/vectorstores/">vector storage database </a> that allows you to query over unstructured data faster</li>
        <li>Add file uploading so that the user can add their own documents i.e a users resume and ask ChatGPT how their resume could be improved</li>
        <li>Use powerful machine predictive learning algorthims such as neural networks in conjunction with ChatGPT</li>
        <li>Add <a href="https://www.npmjs.com/package/websocket">web socket</a> to offer real time chat experience. For instance, multiple people could chat with ChatGPT at the same time </li>
        
        <li>Add authorization and authentication in order to allow a more personalized experience</li>
        <li>Add a database so that the "state" of application will be saved</li>
        <li>Continue to modify and improve CSS</li>
      </ul>

      <h1 class="display-4">Misc.</h1>
      <p class="lead">Information about this app</p>
      <ul> 
         <li>The frontend of this app is written in Angular.js with Bootstrap and the backend is written in Node.js</li>
          <li>LangChain.js was used in order to help upload our own personal documents with our language model which in this case is OpenAi ChatGPT</li>
          <li>LangChain.js supports various file types such as .CSV and .TXT, but bigger files will cause longer response times</li>
          <li>The site is currently being hosted on an Amazon EC2 instance with Nginx being used as the reverse proxy to the Node.js backend</li>

      </ul>


      
    </div>
  </div>
</div>