.tab {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
    color: #0a2458;
    font-family: MercurySSm-Book-Pro_Web,serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 170%
}


.parent {
  float: left; 
}

.container-fluid {
  border-radius: 5px;

  padding: 20px; 
  margin-top:3px;
  
}

