<div class="upperContainer">
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">ChatGPT App</h1>
      <p class="lead fw-normal">A ChatGPT app that allow you to upload your own documents!</p>
      <a class="btn btn-outline-secondary" href="/Chat">Go To Chat</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>

  <div class="row featurette" [ngStyle]="{'margin': '40px','padding': '30px', 'borderRadius':'5px', 'backgroundColor': '#0164bc', 'color': 'white'}">
    <div class="col-md-7">
      <h2 class="featurette-heading">History</h2>
      <p class="lead">ChatGPT, which stands for Chat Generative Pre-trained Transformer, is a large language model-based chatbot developed by OpenAI and launched on November 30, 2022, that enables users to refine and steer a conversation towards a desired length, format, style, level of detail, and language. Successive prompts and replies, known as prompt engineering, are considered at each conversation stage as a context. - Wikipedia</p>
    </div>
    <div class="col-md-5">
      <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      <img [src]="netImage" class="img-fluid" alt="Responsive image">
    </div>
  </div>
